*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  margin-top: 30px;
}

.card {
  margin: 0 auto;
  width: 150px;
  height: 220px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #ccc;
  position: relative;
}

.card img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 140px;
}

.card p {
  text-align: center;
  margin-top: 190px;
  font-size: 18px;
  font-weight: bold;
}

button {
  display: block;
  margin: 30px auto 0;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background-color: #4286f4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #316fe6;
}